body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header {
    background-color: #4caf50;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
main {
    padding: 2rem;
    box-sizing: border-box; 
    max-width: 100%; 
  }
  
  footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 1rem;
    width: 100%;
    position: relative;
    bottom: 0;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.categorias-lista {
  list-style-type: none;
  padding: 0;
}

.categorias-lista li {
  margin-bottom: 1rem;
}

.categorias-lista li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.categorias-lista li a:hover {
  background-color: #ccc;
}

main, section, aside {
  padding: 2rem;
  box-sizing: border-box; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}


.producto {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex: 0 0 calc(25% - 1rem); 
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
}

.producto img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.producto p {
  margin: 0;
}


.social-box {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
}